Name: tests

on: 
  push: 
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v3
    
   - name: Setup JDK
     uses: actions/setup-java@v3
     with: 
      java-version: '17'
      distribution: 'temurin'
  
   - name: build
     run: mvn -B package --file pom.xml

   - name: test
     run: mvn test